.portfolio {
    max-width: 900px; /* Wider for better visibility */
    margin: 30px auto; /* Increased margins */
    padding: 30px; /* Increased padding */
    background-color: #fff; 
    border-radius: 20px; /* Increased border radius */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1); /* Increased shadow */
}

.portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; /* Increased gap */
    justify-content: center; 
}

.project {
    position: relative; 
    width: 95%; /* Increased responsiveness */
    max-width: 400px; /* Increased max width */
    height: 450px; /* Increased height */
    overflow: hidden; 
    border-radius: 10px; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Increased shadow */
    transition: transform 0.3s ease; 
    padding: 15px; /* Increased internal padding */
    margin: 0 auto; 
    background-color: rgb(35, 61, 131); 
}

.project:hover {
    transform: scale(1.1); /* Slightly enlarged effect */
}

.image-container {
    position: relative; 
    height: 100%; 
}

.image-container img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    display: block; 
    border-radius: 10px; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8); /* Darker overlay */
    color: white; 
    opacity: 0; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    transition: opacity 0.3s ease; 
}

.project:hover .overlay {
    opacity: 1; 
}

.github-icon {
    color: #fff; 
    margin-top: 15px; /* Increased margin */
    font-size: 28px; /* Increased icon size */
    transition: transform 0.3s; 
}

.overlay a:hover .github-icon {
    transform: scale(1.3); /* Increased scale on hover */
}
